
# Homework 4

Some initializations

In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sql


## Joining data


#### Loading data

In [2]:
# ![Upper left corner of the file opened in Jupyter](cleared_cell_phones_total-csv.jpg "'Delimiter' shows the sep parameter value to use")<br><br>

In [3]:
cleaned_cell_phones_total_data_df = pd.read_csv('cleaned_cell_phones_total.csv', index_col='iso-3')

In [4]:
# cleared_cell_phones_total_data_df = pd.read_csv('cleared_cell_phones_total.csv', index_col='iso-3')

In [5]:
# ![Upper left corner of the file opened in Jupyter](country_data-csv.jpg "'Delimiter' shows the sep parameter value to use")<br><br>

In [6]:
country_data_df = pd.read_csv("country_data.csv", index_col='alpha-3')

In [7]:
# country_data_df = pd.read_csv("https://github.com/su-mt4007/data/country_data.csv", index_col='alpha-3')

In [8]:
# ![Upper left corner of the file opened in Jupyter](pop_data-csv.jpg "'Delimiter' shows the sep parameter value to use")<br><br>

In [9]:
pop_data_df = pd.read_csv('pop_data.csv', index_col='iso-3')

In [10]:
# pop_data_df = pd.read_csv('https://github.com/su-mt4007/data/pop_data.csv', index_col='iso-3')


#### Structure of data

In [11]:
cleaned_cell_phones_total_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214 entries, ABW to ZWE
Data columns (total 56 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1960    214 non-null    float64
 1   1965    214 non-null    float64
 2   1966    214 non-null    float64
 3   1967    214 non-null    float64
 4   1968    214 non-null    float64
 5   1969    214 non-null    float64
 6   1970    214 non-null    float64
 7   1971    214 non-null    float64
 8   1972    214 non-null    float64
 9   1973    214 non-null    float64
 10  1974    214 non-null    float64
 11  1975    214 non-null    float64
 12  1976    214 non-null    float64
 13  1977    214 non-null    float64
 14  1978    214 non-null    float64
 15  1979    214 non-null    float64
 16  1980    214 non-null    float64
 17  1981    214 non-null    float64
 18  1982    214 non-null    float64
 19  1983    214 non-null    float64
 20  1984    214 non-null    float64
 21  1985    214 non-null    float64
 22  1986    214 non-null    float64
 23  1987    214 non-null    float64
 24  1988    214 non-null    float64
 25  1989    214 non-null    float64
 26  1990    214 non-null    float64
 27  1991    214 non-null    float64
 28  1992    214 non-null    float64
 29  1993    214 non-null    float64
 30  1994    214 non-null    float64
 31  1995    214 non-null    float64
 32  1996    214 non-null    float64
 33  1997    214 non-null    float64
 34  1998    214 non-null    float64
 35  1999    214 non-null    float64
 36  2000    214 non-null    float64
 37  2001    214 non-null    float64
 38  2002    214 non-null    float64
 39  2003    214 non-null    float64
 40  2004    214 non-null    float64
 41  2005    214 non-null    float64
 42  2006    214 non-null    float64
 43  2007    214 non-null    float64
 44  2008    214 non-null    float64
 45  2009    214 non-null    float64
 46  2010    214 non-null    float64
 47  2011    214 non-null    float64
 48  2012    214 non-null    float64
 49  2013    214 non-null    float64
 50  2014    214 non-null    float64
 51  2015    214 non-null    float64
 52  2016    214 non-null    float64
 53  2017    214 non-null    float64
 54  2018    214 non-null    float64
 55  2019    214 non-null    float64
dtypes: float64(56)
memory usage: 95.3+ KB

In [12]:
country_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 249 entries, AFG to ZWE
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name                      249 non-null    object
 1   alpha-2                   248 non-null    object
 2   country-code              249 non-null    int64
 3   iso_3166-2                249 non-null    object
 4   region                    248 non-null    object
 5   sub-region                248 non-null    object
 6   intermediate-region       107 non-null    object
 7   region-code               248 non-null    float64
 8   sub-region-code           248 non-null    float64
 9   intermediate-region-code  107 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 21.4+ KB

In [13]:
pop_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, ABW to ZWE
Data columns (total 62 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  266 non-null    int64
 1   1960        264 non-null    float64
 2   1961        264 non-null    float64
 3   1962        264 non-null    float64
 4   1963        264 non-null    float64
 5   1964        264 non-null    float64
 6   1965        264 non-null    float64
 7   1966        264 non-null    float64
 8   1967        264 non-null    float64
 9   1968        264 non-null    float64
 10  1969        264 non-null    float64
 11  1970        264 non-null    float64
 12  1971        264 non-null    float64
 13  1972        264 non-null    float64
 14  1973        264 non-null    float64
 15  1974        264 non-null    float64
 16  1975        264 non-null    float64
 17  1976        264 non-null    float64
 18  1977        264 non-null    float64
 19  1978        264 non-null    float64
 20  1979        264 non-null    float64
 21  1980        264 non-null    float64
 22  1981        264 non-null    float64
 23  1982        264 non-null    float64
 24  1983        264 non-null    float64
 25  1984        264 non-null    float64
 26  1985        264 non-null    float64
 27  1986        264 non-null    float64
 28  1987        264 non-null    float64
 29  1988        264 non-null    float64
 30  1989        264 non-null    float64
 31  1990        265 non-null    float64
 32  1991        265 non-null    float64
 33  1992        265 non-null    float64
 34  1993        265 non-null    float64
 35  1994        265 non-null    float64
 36  1995        265 non-null    float64
 37  1996        265 non-null    float64
 38  1997        265 non-null    float64
 39  1998        265 non-null    float64
 40  1999        265 non-null    float64
 41  2000        265 non-null    float64
 42  2001        265 non-null    float64
 43  2002        265 non-null    float64
 44  2003        265 non-null    float64
 45  2004        265 non-null    float64
 46  2005        265 non-null    float64
 47  2006        265 non-null    float64
 48  2007        265 non-null    float64
 49  2008        265 non-null    float64
 50  2009        265 non-null    float64
 51  2010        265 non-null    float64
 52  2011        265 non-null    float64
 53  2012        265 non-null    float64
 54  2013        265 non-null    float64
 55  2014        265 non-null    float64
 56  2015        265 non-null    float64
 57  2016        265 non-null    float64
 58  2017        265 non-null    float64
 59  2018        265 non-null    float64
 60  2019        265 non-null    float64
 61  2020        265 non-null    float64
dtypes: float64(61), int64(1)
memory usage: 130.9+ KB


#### Cleaning data

We know that the data in **cleaned_cell_phones_total_data_df** is cleaned already.

In **country_data_df** there are many null values. To save a lot of work and time, it would be good to only clean data that will be needed to solve the assignment.

It seems that only the **name** column will be used. This column has no null values, but its Dtype is object. Converting this to Dtype string would be beneficial.

First, make a deep copy of country_data_df.

In [14]:
name_strings_country_data_df = country_data_df.copy()

Now, convert the values in the name column to strings.

In [15]:
name_strings_country_data_df['name'] = country_data_df['name'].astype("string")

In [16]:
name_strings_country_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 249 entries, AFG to ZWE
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name                      249 non-null    string
 1   alpha-2                   248 non-null    object
 2   country-code              249 non-null    int64
 3   iso_3166-2                249 non-null    object
 4   region                    248 non-null    object
 5   sub-region                248 non-null    object
 6   intermediate-region       107 non-null    object
 7   region-code               248 non-null    float64
 8   sub-region-code           248 non-null    float64
 9   intermediate-region-code  107 non-null    float64
dtypes: float64(3), int64(1), object(5), string(1)
memory usage: 21.4+ KB

For **pop_data_df** it seems that we only need data for the years 1960 and 2010-2019, for a few countries. These countries are ABW, AFG, AGO, ALB, AND, Macao, Hong Kong, United Arab Emirates,	Antigua and Barbuda, and Seychelles.

There are some null values in pop_data_df. We have to check if any of these concerns the years and countries we will treat.

First, we will get the alpha-3 codes for the names.

In [17]:
alpha_3_codes = name_strings_country_data_df['name'].isin(['Macao', 'Hong Kong', 'United Arab Emirates','Antigua and Barbuda', 'Seychelles'])

In [18]:
name_strings_country_data_df[alpha_3_codes]

,name,alpha-2,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
alpha-3,,,,,,,,,,
ATG,Antigua and Barbuda,AG,28,ISO 3166-2:AG,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
HKG,Hong Kong,HK,344,ISO 3166-2:HK,Asia,Eastern Asia,NaN,142.0,30.0,NaN
MAC,Macao,MO,446,ISO 3166-2:MO,Asia,Eastern Asia,NaN,142.0,30.0,NaN
SYC,Seychelles,SC,690,ISO 3166-2:SC,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
ARE,United Arab Emirates,AE,784,ISO 3166-2:AE,Asia,Western Asia,NaN,142.0,145.0,NaN

Now we can select the interesting rows in pop_data_df.

In [19]:
interesting_countries_bool = pop_data_df.index.isin(['ATG','HKG','MAC','SYC','ARE','ABW', 'AFG', 'AGO', 'ALB', 'AND'])

In [20]:
interesting_years = ['1960', '2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']

Make a deep copy of pop_data_df and then choose the interesting countries

In [21]:
interesting_countries_df = pop_data_df[interesting_countries_bool].copy()

In [22]:
interesting_countries_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, ABW to SYC
Data columns (total 62 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   1960        10 non-null     float64
 2   1961        10 non-null     float64
 3   1962        10 non-null     float64
 4   1963        10 non-null     float64
 5   1964        10 non-null     float64
 6   1965        10 non-null     float64
 7   1966        10 non-null     float64
 8   1967        10 non-null     float64
 9   1968        10 non-null     float64
 10  1969        10 non-null     float64
 11  1970        10 non-null     float64
 12  1971        10 non-null     float64
 13  1972        10 non-null     float64
 14  1973        10 non-null     float64
 15  1974        10 non-null     float64
 16  1975        10 non-null     float64
 17  1976        10 non-null     float64
 18  1977        10 non-null     float64
 19  1978        10 non-null     float64
 20  1979        10 non-null     float64
 21  1980        10 non-null     float64
 22  1981        10 non-null     float64
 23  1982        10 non-null     float64
 24  1983        10 non-null     float64
 25  1984        10 non-null     float64
 26  1985        10 non-null     float64
 27  1986        10 non-null     float64
 28  1987        10 non-null     float64
 29  1988        10 non-null     float64
 30  1989        10 non-null     float64
 31  1990        10 non-null     float64
 32  1991        10 non-null     float64
 33  1992        10 non-null     float64
 34  1993        10 non-null     float64
 35  1994        10 non-null     float64
 36  1995        10 non-null     float64
 37  1996        10 non-null     float64
 38  1997        10 non-null     float64
 39  1998        10 non-null     float64
 40  1999        10 non-null     float64
 41  2000        10 non-null     float64
 42  2001        10 non-null     float64
 43  2002        10 non-null     float64
 44  2003        10 non-null     float64
 45  2004        10 non-null     float64
 46  2005        10 non-null     float64
 47  2006        10 non-null     float64
 48  2007        10 non-null     float64
 49  2008        10 non-null     float64
 50  2009        10 non-null     float64
 51  2010        10 non-null     float64
 52  2011        10 non-null     float64
 53  2012        10 non-null     float64
 54  2013        10 non-null     float64
 55  2014        10 non-null     float64
 56  2015        10 non-null     float64
 57  2016        10 non-null     float64
 58  2017        10 non-null     float64
 59  2018        10 non-null     float64
 60  2019        10 non-null     float64
 61  2020        10 non-null     float64
dtypes: float64(61), int64(1)
memory usage: 4.9+ KB

Make a deep copy of interesting_countries_df

In [23]:
interesting_countries_and_years_df = interesting_countries_df[interesting_years].copy()

In [24]:
interesting_countries_and_years_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, ABW to SYC
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1960    10 non-null     float64
 1   2010    10 non-null     float64
 2   2011    10 non-null     float64
 3   2012    10 non-null     float64
 4   2013    10 non-null     float64
 5   2014    10 non-null     float64
 6   2015    10 non-null     float64
 7   2016    10 non-null     float64
 8   2017    10 non-null     float64
 9   2018    10 non-null     float64
 10  2019    10 non-null     float64
dtypes: float64(11)
memory usage: 960.0+ bytes

In [25]:
interesting_countries_and_years_df

,1960,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
iso-3,,,,,,,,,,,
ABW,54608.0,100341.0,101288.0,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0
AFG,8622466.0,28189672.0,29249157.0,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0
AGO,5357195.0,23364185.0,24259111.0,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0
ALB,1608800.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0
AND,9443.0,71519.0,70567.0,71013.0,71367.0,71621.0,71746.0,72540.0,73837.0,75013.0,76343.0
ARE,133426.0,8481771.0,8575205.0,8664969.0,8751847.0,8835951.0,8916899.0,8994263.0,9068296.0,9140169.0,9211657.0
ATG,55342.0,85695.0,86729.0,87674.0,88497.0,89236.0,89941.0,90564.0,91119.0,91626.0,92117.0
HKG,3114671.0,7024200.0,7071600.0,7150100.0,7178900.0,7229500.0,7291300.0,7336600.0,7393200.0,7452600.0,7507900.0
MAC,177014.0,557297.0,571003.0,582766.0,593374.0,604167.0,615239.0,626688.0,638609.0,650991.0,663653.0
SYC,41700.0,89770.0,87441.0,88303.0,89949.0,91359.0,93419.0,94677.0,95843.0,96762.0,97625.0

Set a name for all the columns

In [26]:
interesting_countries_and_years_df.columns.name = 'year'

In [27]:
interesting_countries_and_years_df

year,1960,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
iso-3,,,,,,,,,,,
ABW,54608.0,100341.0,101288.0,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0
AFG,8622466.0,28189672.0,29249157.0,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0
AGO,5357195.0,23364185.0,24259111.0,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0
ALB,1608800.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0
AND,9443.0,71519.0,70567.0,71013.0,71367.0,71621.0,71746.0,72540.0,73837.0,75013.0,76343.0
ARE,133426.0,8481771.0,8575205.0,8664969.0,8751847.0,8835951.0,8916899.0,8994263.0,9068296.0,9140169.0,9211657.0
ATG,55342.0,85695.0,86729.0,87674.0,88497.0,89236.0,89941.0,90564.0,91119.0,91626.0,92117.0
HKG,3114671.0,7024200.0,7071600.0,7150100.0,7178900.0,7229500.0,7291300.0,7336600.0,7393200.0,7452600.0,7507900.0
MAC,177014.0,557297.0,571003.0,582766.0,593374.0,604167.0,615239.0,626688.0,638609.0,650991.0,663653.0
SYC,41700.0,89770.0,87441.0,88303.0,89949.0,91359.0,93419.0,94677.0,95843.0,96762.0,97625.0

Tests

In [28]:
test_stack_df = interesting_countries_and_years_df.stack()

In [29]:
test_stack_df

iso-3  year
ABW    1960     54608.0
       2010    100341.0
       2011    101288.0
       2012    102112.0
       2013    102880.0
                 ...
SYC    2015     93419.0
       2016     94677.0
       2017     95843.0
       2018     96762.0
       2019     97625.0
Length: 110, dtype: float64

In [30]:
type(test_stack_df)

pandas.core.series.Series

In [31]:
test_stack_df.index

MultiIndex([('ABW', '1960'),
            ('ABW', '2010'),
            ('ABW', '2011'),
            ('ABW', '2012'),
            ('ABW', '2013'),
            ('ABW', '2014'),
            ('ABW', '2015'),
            ('ABW', '2016'),
            ('ABW', '2017'),
            ('ABW', '2018'),
            ...
            ('SYC', '2010'),
            ('SYC', '2011'),
            ('SYC', '2012'),
            ('SYC', '2013'),
            ('SYC', '2014'),
            ('SYC', '2015'),
            ('SYC', '2016'),
            ('SYC', '2017'),
            ('SYC', '2018'),
            ('SYC', '2019')],
           names=['iso-3', 'year'], length=110)


##### We see that there are no null values to handle for the countries and years we are interested in.


##### Handle cleaned_cell_phones_total_data_df the same way

We will choose the same countries and years as above, for the data on cell phones.

In [32]:
interesting_countries_cell_phones_bool = cleaned_cell_phones_total_data_df.index.isin(['ATG','HKG','MAC','SYC','ARE','ABW', 'AFG', 'AGO', 'ALB', 'AND'])

In [33]:
interesting_countries_cell_phones_df = cleaned_cell_phones_total_data_df[interesting_countries_cell_phones_bool].copy()

In [34]:
interesting_countries_cell_phones_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, ABW to SYC
Data columns (total 56 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1960    10 non-null     float64
 1   1965    10 non-null     float64
 2   1966    10 non-null     float64
 3   1967    10 non-null     float64
 4   1968    10 non-null     float64
 5   1969    10 non-null     float64
 6   1970    10 non-null     float64
 7   1971    10 non-null     float64
 8   1972    10 non-null     float64
 9   1973    10 non-null     float64
 10  1974    10 non-null     float64
 11  1975    10 non-null     float64
 12  1976    10 non-null     float64
 13  1977    10 non-null     float64
 14  1978    10 non-null     float64
 15  1979    10 non-null     float64
 16  1980    10 non-null     float64
 17  1981    10 non-null     float64
 18  1982    10 non-null     float64
 19  1983    10 non-null     float64
 20  1984    10 non-null     float64
 21  1985    10 non-null     float64
 22  1986    10 non-null     float64
 23  1987    10 non-null     float64
 24  1988    10 non-null     float64
 25  1989    10 non-null     float64
 26  1990    10 non-null     float64
 27  1991    10 non-null     float64
 28  1992    10 non-null     float64
 29  1993    10 non-null     float64
 30  1994    10 non-null     float64
 31  1995    10 non-null     float64
 32  1996    10 non-null     float64
 33  1997    10 non-null     float64
 34  1998    10 non-null     float64
 35  1999    10 non-null     float64
 36  2000    10 non-null     float64
 37  2001    10 non-null     float64
 38  2002    10 non-null     float64
 39  2003    10 non-null     float64
 40  2004    10 non-null     float64
 41  2005    10 non-null     float64
 42  2006    10 non-null     float64
 43  2007    10 non-null     float64
 44  2008    10 non-null     float64
 45  2009    10 non-null     float64
 46  2010    10 non-null     float64
 47  2011    10 non-null     float64
 48  2012    10 non-null     float64
 49  2013    10 non-null     float64
 50  2014    10 non-null     float64
 51  2015    10 non-null     float64
 52  2016    10 non-null     float64
 53  2017    10 non-null     float64
 54  2018    10 non-null     float64
 55  2019    10 non-null     float64
dtypes: float64(56)
memory usage: 4.5+ KB

In [35]:
interesting_countries_and_years_cell_phones_df = interesting_countries_cell_phones_df[interesting_years].copy()

In [36]:
interesting_countries_and_years_cell_phones_df.columns

Index(['1960', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019'],
      dtype='object')

In [37]:
interesting_countries_and_years_cell_phones_df.columns.name = 'year'

In [38]:
interesting_countries_and_years_cell_phones_df.columns

Index(['1960', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019'],
      dtype='object', name='year')

In [39]:
interesting_countries_and_years_cell_phones_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, ABW to SYC
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1960    10 non-null     float64
 1   2010    10 non-null     float64
 2   2011    10 non-null     float64
 3   2012    10 non-null     float64
 4   2013    10 non-null     float64
 5   2014    10 non-null     float64
 6   2015    10 non-null     float64
 7   2016    10 non-null     float64
 8   2017    10 non-null     float64
 9   2018    10 non-null     float64
 10  2019    10 non-null     float64
dtypes: float64(11)
memory usage: 960.0+ bytes

In [40]:
interesting_countries_and_years_cell_phones_df

year,1960,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
iso-3,,,,,,,,,,,
ABW,0.0,132000.0,133500.0,135000.0,139000.0,140000.0,141000.0,141000.0,141000.0,141000.0,141000.0
AFG,0.0,10200000.0,13800000.0,15300000.0,16800000.0,18400000.0,19700000.0,21600000.0,23900000.0,22000000.0,22600000.0
AGO,0.0,9400000.0,12100000.0,12800000.0,13300000.0,14100000.0,13900000.0,13000000.0,13300000.0,13300000.0,14800000.0
ALB,0.0,2690000.0,3100000.0,3500000.0,3690000.0,3360000.0,3400000.0,3370000.0,3630000.0,2710000.0,2630000.0
AND,0.0,65500.0,65000.0,63900.0,63900.0,66200.0,71300.0,76100.0,80300.0,82600.0,87900.0
ARE,0.0,10900000.0,11700000.0,13800000.0,16100000.0,16800000.0,17900000.0,19900000.0,19800000.0,20100000.0,19600000.0
ATG,0.0,168000.0,176000.0,127000.0,114000.0,120000.0,176000.0,180000.0,184000.0,184000.0,184000.0
HKG,0.0,13800000.0,15300000.0,16400000.0,17000000.0,17000000.0,16700000.0,17600000.0,18400000.0,19900000.0,21500000.0
MAC,0.0,1120000.0,1350000.0,1610000.0,1720000.0,1860000.0,1900000.0,1970000.0,2050000.0,2180000.0,2180000.0
SYC,0.0,118000.0,127000.0,136000.0,137000.0,151000.0,148000.0,152000.0,167000.0,179000.0,194000.0


#### Stacking and joining data frames

The data frames interesting_countries_and_years_df and interesting_countries_and_years_cell_phones_df are in wide format. To make it easier to join them on index and year, it would be good to stack them, to long format.


##### Stack interesting_countries_and_years_df

In [41]:
stacked_interesting_countries_and_years_df = interesting_countries_and_years_df.stack()

In [42]:
stacked_interesting_countries_and_years_df.info()

<class 'pandas.core.series.Series'>
MultiIndex: 110 entries, ('ABW', '1960') to ('SYC', '2019')
Series name: None
Non-Null Count  Dtype
--------------  -----
110 non-null    float64
dtypes: float64(1)
memory usage: 1.9+ KB

Give a name to the Series

In [43]:
stacked_interesting_countries_and_years_df.name = 'population'

In [44]:
stacked_interesting_countries_and_years_df.info()

<class 'pandas.core.series.Series'>
MultiIndex: 110 entries, ('ABW', '1960') to ('SYC', '2019')
Series name: population
Non-Null Count  Dtype
--------------  -----
110 non-null    float64
dtypes: float64(1)
memory usage: 1.9+ KB

In [45]:
stacked_interesting_countries_and_years_df

iso-3  year
ABW    1960     54608.0
       2010    100341.0
       2011    101288.0
       2012    102112.0
       2013    102880.0
                 ...
SYC    2015     93419.0
       2016     94677.0
       2017     95843.0
       2018     96762.0
       2019     97625.0
Name: population, Length: 110, dtype: float64

In [46]:
stacked_interesting_countries_and_years_df['ABW']

year
1960     54608.0
2010    100341.0
2011    101288.0
2012    102112.0
2013    102880.0
2014    103594.0
2015    104257.0
2016    104874.0
2017    105439.0
2018    105962.0
2019    106442.0
Name: population, dtype: float64


##### Stack interesting_countries_and_years_cell_phones_df

In [47]:
stacked_interesting_countries_and_years_cell_phones_df = interesting_countries_and_years_cell_phones_df.stack()

In [48]:
stacked_interesting_countries_and_years_cell_phones_df.info()

<class 'pandas.core.series.Series'>
MultiIndex: 110 entries, ('ABW', '1960') to ('SYC', '2019')
Series name: None
Non-Null Count  Dtype
--------------  -----
110 non-null    float64
dtypes: float64(1)
memory usage: 1.9+ KB

Give a name to the Series

In [49]:
stacked_interesting_countries_and_years_cell_phones_df.name = 'n_cellphones'

In [50]:
stacked_interesting_countries_and_years_cell_phones_df.info()

<class 'pandas.core.series.Series'>
MultiIndex: 110 entries, ('ABW', '1960') to ('SYC', '2019')
Series name: n_cellphones
Non-Null Count  Dtype
--------------  -----
110 non-null    float64
dtypes: float64(1)
memory usage: 1.9+ KB

In [51]:
stacked_interesting_countries_and_years_cell_phones_df

iso-3  year
ABW    1960         0.0
       2010    132000.0
       2011    133500.0
       2012    135000.0
       2013    139000.0
                 ...
SYC    2015    148000.0
       2016    152000.0
       2017    167000.0
       2018    179000.0
       2019    194000.0
Name: n_cellphones, Length: 110, dtype: float64

In [52]:
stacked_interesting_countries_and_years_cell_phones_df['ABW']

year
1960         0.0
2010    132000.0
2011    133500.0
2012    135000.0
2013    139000.0
2014    140000.0
2015    141000.0
2016    141000.0
2017    141000.0
2018    141000.0
2019    141000.0
Name: n_cellphones, dtype: float64


##### Join stacked_interesting_countries_and_years_cell_phones_df and stacked_interesting_countries_and_years_df

Now we can join the two stacked data frames on the multiindex [iso-3, year]

It is easier to join data frames than Series, so we create Data Frames from the Series stacked_interesting_countries_and_years_cell_phones_df and stacked_interesting_countries_and_years_df (which have gotten misleading names).

In [53]:
n_cellphones_df = pd.DataFrame(data=stacked_interesting_countries_and_years_cell_phones_df)

In [54]:
n_cellphones_df

            n_cellphones
iso-3 year
ABW   1960           0.0
      2010      132000.0
      2011      133500.0
      2012      135000.0
      2013      139000.0
...                  ...
SYC   2015      148000.0
      2016      152000.0
      2017      167000.0
      2018      179000.0
      2019      194000.0

[110 rows x 1 columns]

In [55]:
population_df = pd.DataFrame(data=stacked_interesting_countries_and_years_df)

In [56]:
population_df

            population
iso-3 year
ABW   1960     54608.0
      2010    100341.0
      2011    101288.0
      2012    102112.0
      2013    102880.0
...                ...
SYC   2015     93419.0
      2016     94677.0
      2017     95843.0
      2018     96762.0
      2019     97625.0

[110 rows x 1 columns]

In [57]:
n_cellphones_and_population_df = n_cellphones_df.merge(population_df, on=['iso-3','year'] , copy=True)

In [58]:
n_cellphones_and_population_df

            n_cellphones  population
iso-3 year
ABW   1960           0.0     54608.0
      2010      132000.0    100341.0
      2011      133500.0    101288.0
      2012      135000.0    102112.0
      2013      139000.0    102880.0
...                  ...         ...
SYC   2015      148000.0     93419.0
      2016      152000.0     94677.0
      2017      167000.0     95843.0
      2018      179000.0     96762.0
      2019      194000.0     97625.0

[110 rows x 2 columns]

In [59]:
type(n_cellphones_and_population_df)

pandas.core.frame.DataFrame

##### Now we can show the first table required in the assignment.

First we unstack the data frame two levels.

In [60]:
unstacked_n_cellphones_and_population_df = n_cellphones_and_population_df.unstack(level=-1)

In [61]:
unstacked_n_cellphones_and_population_df

      n_cellphones                                                  \
year          1960        2010        2011        2012        2013
iso-3
ABW            0.0    132000.0    133500.0    135000.0    139000.0
AFG            0.0  10200000.0  13800000.0  15300000.0  16800000.0
AGO            0.0   9400000.0  12100000.0  12800000.0  13300000.0
ALB            0.0   2690000.0   3100000.0   3500000.0   3690000.0
AND            0.0     65500.0     65000.0     63900.0     63900.0
ARE            0.0  10900000.0  11700000.0  13800000.0  16100000.0
ATG            0.0    168000.0    176000.0    127000.0    114000.0
HKG            0.0  13800000.0  15300000.0  16400000.0  17000000.0
MAC            0.0   1120000.0   1350000.0   1610000.0   1720000.0
SYC            0.0    118000.0    127000.0    136000.0    137000.0

                                                                   ...  \
year         2014        2015        2016        2017        2018  ...
iso-3                                                              ...
ABW      140000.0    141000.0    141000.0    141000.0    141000.0  ...
AFG    18400000.0  19700000.0  21600000.0  23900000.0  22000000.0  ...
AGO    14100000.0  13900000.0  13000000.0  13300000.0  13300000.0  ...
ALB     3360000.0   3400000.0   3370000.0   3630000.0   2710000.0  ...
AND       66200.0     71300.0     76100.0     80300.0     82600.0  ...
ARE    16800000.0  17900000.0  19900000.0  19800000.0  20100000.0  ...
ATG      120000.0    176000.0    180000.0    184000.0    184000.0  ...
HKG    17000000.0  16700000.0  17600000.0  18400000.0  19900000.0  ...
MAC     1860000.0   1900000.0   1970000.0   2050000.0   2180000.0  ...
SYC      151000.0    148000.0    152000.0    167000.0    179000.0  ...

       population                                                              \
year         2010        2011        2012        2013        2014        2015
iso-3
ABW      100341.0    101288.0    102112.0    102880.0    103594.0    104257.0
AFG    28189672.0  29249157.0  30466479.0  31541209.0  32716210.0  33753499.0
AGO    23364185.0  24259111.0  25188292.0  26147002.0  27128337.0  28127721.0
ALB     2913021.0   2905195.0   2900401.0   2895092.0   2889104.0   2880703.0
AND       71519.0     70567.0     71013.0     71367.0     71621.0     71746.0
ARE     8481771.0   8575205.0   8664969.0   8751847.0   8835951.0   8916899.0
ATG       85695.0     86729.0     87674.0     88497.0     89236.0     89941.0
HKG     7024200.0   7071600.0   7150100.0   7178900.0   7229500.0   7291300.0
MAC      557297.0    571003.0    582766.0    593374.0    604167.0    615239.0
SYC       89770.0     87441.0     88303.0     89949.0     91359.0     93419.0


year         2016        2017        2018        2019
iso-3
ABW      104874.0    105439.0    105962.0    106442.0
AFG    34636207.0  35643418.0  36686784.0  37769499.0
AGO    29154746.0  30208628.0  31273533.0  32353588.0
ALB     2876101.0   2873457.0   2866376.0   2854191.0
AND       72540.0     73837.0     75013.0     76343.0
ARE     8994263.0   9068296.0   9140169.0   9211657.0
ATG       90564.0     91119.0     91626.0     92117.0
HKG     7336600.0   7393200.0   7452600.0   7507900.0
MAC      626688.0    638609.0    650991.0    663653.0
SYC       94677.0     95843.0     96762.0     97625.0

[10 rows x 22 columns]

In [62]:
n_cellphones_and_population_df.index

MultiIndex([('ABW', '1960'),
            ('ABW', '2010'),
            ('ABW', '2011'),
            ('ABW', '2012'),
            ('ABW', '2013'),
            ('ABW', '2014'),
            ('ABW', '2015'),
            ('ABW', '2016'),
            ('ABW', '2017'),
            ('ABW', '2018'),
            ...
            ('SYC', '2010'),
            ('SYC', '2011'),
            ('SYC', '2012'),
            ('SYC', '2013'),
            ('SYC', '2014'),
            ('SYC', '2015'),
            ('SYC', '2016'),
            ('SYC', '2017'),
            ('SYC', '2018'),
            ('SYC', '2019')],
           names=['iso-3', 'year'], length=110)

In [63]:
first_table_1960_df = n_cellphones_and_population_df.xs('1960', level = 'year')

In [64]:
first_table_1960_df

       n_cellphones  population
iso-3
ABW             0.0     54608.0
AFG             0.0   8622466.0
AGO             0.0   5357195.0
ALB             0.0   1608800.0
AND             0.0      9443.0
ARE             0.0    133426.0
ATG             0.0     55342.0
HKG             0.0   3114671.0
MAC             0.0    177014.0
SYC             0.0     41700.0

In [65]:
first_table_1960_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, ABW to SYC
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   n_cellphones  10 non-null     float64
 1   population    10 non-null     float64
dtypes: float64(2)
memory usage: 240.0+ bytes

In [66]:
# df.loc[(slice(None), "one"), :]

Another subset

In [67]:
first_table_1960_df_II = n_cellphones_and_population_df.loc[(slice(None), "1960"), :]


#### The first table

In [68]:
first_table_1960_df_II.head()

            n_cellphones  population
iso-3 year
ABW   1960           0.0     54608.0
AFG   1960           0.0   8622466.0
AGO   1960           0.0   5357195.0
ALB   1960           0.0   1608800.0
AND   1960           0.0      9443.0


##### The second table

We have to compute the number of cell phones per capita for the different countries. First a deep copy.

In [69]:
n_cellphones_and_population_and_per_capita_df = n_cellphones_and_population_df.copy()

In [70]:
n_cellphones_and_population_and_per_capita_df['phones_per_capita'] = n_cellphones_and_population_and_per_capita_df['n_cellphones'] / n_cellphones_and_population_and_per_capita_df['population']

In [71]:
n_cellphones_and_population_and_per_capita_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 110 entries, ('ABW', '1960') to ('SYC', '2019')
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   n_cellphones       110 non-null    float64
 1   population         110 non-null    float64
 2   phones_per_capita  110 non-null    float64
dtypes: float64(3)
memory usage: 3.6+ KB

In [72]:
n_cellphones_and_population_and_per_capita_df

            n_cellphones  population  phones_per_capita
iso-3 year
ABW   1960           0.0     54608.0           0.000000
      2010      132000.0    100341.0           1.315514
      2011      133500.0    101288.0           1.318024
      2012      135000.0    102112.0           1.322078
      2013      139000.0    102880.0           1.351089
...                  ...         ...                ...
SYC   2015      148000.0     93419.0           1.584260
      2016      152000.0     94677.0           1.605459
      2017      167000.0     95843.0           1.742433
      2018      179000.0     96762.0           1.849900
      2019      194000.0     97625.0           1.987196

[110 rows x 3 columns]

In the second table we are only interested in the column phones_per_capita, so we choose a subset.

In [73]:
phones__per_capita_Series = n_cellphones_and_population_and_per_capita_df['phones_per_capita'].copy()

In [74]:
phones__per_capita_Series.info()

<class 'pandas.core.series.Series'>
MultiIndex: 110 entries, ('ABW', '1960') to ('SYC', '2019')
Series name: phones_per_capita
Non-Null Count  Dtype
--------------  -----
110 non-null    float64
dtypes: float64(1)
memory usage: 1.9+ KB

This is a Series, so we convert it to a DataFrame.

In [75]:
phones__per_capita_df = pd.DataFrame(data=phones__per_capita_Series)

In [76]:
phones__per_capita_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 110 entries, ('ABW', '1960') to ('SYC', '2019')
Data columns (total 1 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phones_per_capita  110 non-null    float64
dtypes: float64(1)
memory usage: 1.9+ KB

In [77]:
phones__per_capita_df

            phones_per_capita
iso-3 year
ABW   1960           0.000000
      2010           1.315514
      2011           1.318024
      2012           1.322078
      2013           1.351089
...                       ...
SYC   2015           1.584260
      2016           1.605459
      2017           1.742433
      2018           1.849900
      2019           1.987196

[110 rows x 1 columns]

We want the country names and not the iso-3 codes, so we make a left join. First though, we make an unstack.

In [78]:
unstacked_phones_per_capita_df = phones__per_capita_df.unstack(level=-1)

In [79]:
unstacked_phones_per_capita_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, ABW to SYC
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   (phones_per_capita, 1960)  10 non-null     float64
 1   (phones_per_capita, 2010)  10 non-null     float64
 2   (phones_per_capita, 2011)  10 non-null     float64
 3   (phones_per_capita, 2012)  10 non-null     float64
 4   (phones_per_capita, 2013)  10 non-null     float64
 5   (phones_per_capita, 2014)  10 non-null     float64
 6   (phones_per_capita, 2015)  10 non-null     float64
 7   (phones_per_capita, 2016)  10 non-null     float64
 8   (phones_per_capita, 2017)  10 non-null     float64
 9   (phones_per_capita, 2018)  10 non-null     float64
 10  (phones_per_capita, 2019)  10 non-null     float64
dtypes: float64(11)
memory usage: 960.0+ bytes

In [80]:
unstacked_phones_per_capita_df

      phones_per_capita                                                    \
year               1960      2010      2011      2012      2013      2014
iso-3
ABW                 0.0  1.315514  1.318024  1.322078  1.351089  1.351430
AFG                 0.0  0.361835  0.471808  0.502191  0.532637  0.562412
AGO                 0.0  0.402325  0.498782  0.508173  0.508663  0.519752
ALB                 0.0  0.923440  1.067054  1.206730  1.274571  1.162990
AND                 0.0  0.915841  0.921110  0.899835  0.895372  0.924310
ARE                 0.0  1.285109  1.364399  1.592620  1.839612  1.901323
ATG                 0.0  1.960441  2.029310  1.448548  1.288179  1.344749
HKG                 0.0  1.964637  2.163584  2.293674  2.368051  2.351477
MAC                 0.0  2.009700  2.364261  2.762687  2.898678  3.078619
SYC                 0.0  1.314470  1.452408  1.540152  1.523085  1.652820


year       2015      2016      2017      2018      2019
iso-3
ABW    1.352427  1.344471  1.337266  1.330666  1.324665
AFG    0.583643  0.623625  0.670531  0.599671  0.598366
AGO    0.494174  0.445897  0.440272  0.425280  0.457445
ALB    1.180267  1.171725  1.263287  0.945445  0.921452
AND    0.993784  1.049076  1.087531  1.101142  1.151383
ARE    2.007424  2.212521  2.183431  2.199084  2.127739
ATG    1.956838  1.987545  2.019337  2.008164  1.997460
HKG    2.290401  2.398931  2.488773  2.670209  2.863650
MAC    3.088231  3.143510  3.210102  3.348741  3.284849
SYC    1.584260  1.605459  1.742433  1.849900  1.987196

In [81]:
unstacked_phones_per_capita_df.columns

MultiIndex([('phones_per_capita', '1960'),
            ('phones_per_capita', '2010'),
            ('phones_per_capita', '2011'),
            ('phones_per_capita', '2012'),
            ('phones_per_capita', '2013'),
            ('phones_per_capita', '2014'),
            ('phones_per_capita', '2015'),
            ('phones_per_capita', '2016'),
            ('phones_per_capita', '2017'),
            ('phones_per_capita', '2018'),
            ('phones_per_capita', '2019')],
           names=[None, 'year'])

We will not need the column for 1960, so we delete it.

In [82]:
years_unstacked_phones_per_capita_df = unstacked_phones_per_capita_df.drop(axis=1, columns=('phones_per_capita','1960'))

In [83]:
years_unstacked_phones_per_capita_df

      phones_per_capita                                                    \
year               2010      2011      2012      2013      2014      2015
iso-3
ABW            1.315514  1.318024  1.322078  1.351089  1.351430  1.352427
AFG            0.361835  0.471808  0.502191  0.532637  0.562412  0.583643
AGO            0.402325  0.498782  0.508173  0.508663  0.519752  0.494174
ALB            0.923440  1.067054  1.206730  1.274571  1.162990  1.180267
AND            0.915841  0.921110  0.899835  0.895372  0.924310  0.993784
ARE            1.285109  1.364399  1.592620  1.839612  1.901323  2.007424
ATG            1.960441  2.029310  1.448548  1.288179  1.344749  1.956838
HKG            1.964637  2.163584  2.293674  2.368051  2.351477  2.290401
MAC            2.009700  2.364261  2.762687  2.898678  3.078619  3.088231
SYC            1.314470  1.452408  1.540152  1.523085  1.652820  1.584260


year       2016      2017      2018      2019
iso-3
ABW    1.344471  1.337266  1.330666  1.324665
AFG    0.623625  0.670531  0.599671  0.598366
AGO    0.445897  0.440272  0.425280  0.457445
ALB    1.171725  1.263287  0.945445  0.921452
AND    1.049076  1.087531  1.101142  1.151383
ARE    2.212521  2.183431  2.199084  2.127739
ATG    1.987545  2.019337  2.008164  1.997460
HKG    2.398931  2.488773  2.670209  2.863650
MAC    3.143510  3.210102  3.348741  3.284849
SYC    1.605459  1.742433  1.849900  1.987196

We are only interested in the last five countries.

In [84]:
countries_and_years_unstacked_phones_per_capita_df = years_unstacked_phones_per_capita_df.tail().copy()

In [85]:
countries_and_years_unstacked_phones_per_capita_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, ARE to SYC
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   (phones_per_capita, 2010)  5 non-null      float64
 1   (phones_per_capita, 2011)  5 non-null      float64
 2   (phones_per_capita, 2012)  5 non-null      float64
 3   (phones_per_capita, 2013)  5 non-null      float64
 4   (phones_per_capita, 2014)  5 non-null      float64
 5   (phones_per_capita, 2015)  5 non-null      float64
 6   (phones_per_capita, 2016)  5 non-null      float64
 7   (phones_per_capita, 2017)  5 non-null      float64
 8   (phones_per_capita, 2018)  5 non-null      float64
 9   (phones_per_capita, 2019)  5 non-null      float64
dtypes: float64(10)
memory usage: 440.0+ bytes


#### The second table

Time ran out to do more than this, for the first part of the assignment.

In [86]:
countries_and_years_unstacked_phones_per_capita_df

      phones_per_capita                                                    \
year               2010      2011      2012      2013      2014      2015
iso-3
ARE            1.285109  1.364399  1.592620  1.839612  1.901323  2.007424
ATG            1.960441  2.029310  1.448548  1.288179  1.344749  1.956838
HKG            1.964637  2.163584  2.293674  2.368051  2.351477  2.290401
MAC            2.009700  2.364261  2.762687  2.898678  3.078619  3.088231
SYC            1.314470  1.452408  1.540152  1.523085  1.652820  1.584260


year       2016      2017      2018      2019
iso-3
ARE    2.212521  2.183431  2.199084  2.127739
ATG    1.987545  2.019337  2.008164  1.997460
HKG    2.398931  2.488773  2.670209  2.863650
MAC    3.143510  3.210102  3.348741  3.284849
SYC    1.605459  1.742433  1.849900  1.987196

Now we can choose the relevant column from name_strings_country_data_df

In [87]:
relevant_name_strings_country_data_Series = name_strings_country_data_df['name'].copy()

In [88]:
relevant_name_strings_country_data_Series.info()

<class 'pandas.core.series.Series'>
Index: 249 entries, AFG to ZWE
Series name: name
Non-Null Count  Dtype
--------------  -----
249 non-null    string
dtypes: string(1)
memory usage: 12.0+ KB

Convert to data frame

In [89]:
relevant_name_strings_country_data_df = pd.DataFrame(data=relevant_name_strings_country_data_Series)

In [90]:
relevant_name_strings_country_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 249 entries, AFG to ZWE
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    249 non-null    string
dtypes: string(1)
memory usage: 12.0+ KB

Time to join


## SQL

Connect to the database and look at the data

In [91]:
conn = sql.connect("./user_actions.db")
cursor = conn.cursor()

In [92]:
tables = list(cursor.execute("SELECT name FROM sqlite_master WHERE type='table';"))
tables

[('user_actions',)]

In [129]:
views = list(cursor.execute("SELECT name FROM sqlite_master WHERE type='view';"))
views

[('login_view',), ('signup_view',)]

In [130]:
# SELECT

query = """
SELECT * 
FROM user_actions
"""

cursor.execute(query)

for data in cursor.fetchone():    
    print(data)
user_action_pd = pd.read_sql_query(query, conn)

34
user34
user34@email.com
signup
2015-02-04 14:38:47
None

In [94]:
user_action_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8040 entries, 0 to 8039
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    8040 non-null   int64
 1   username   8040 non-null   object
 2   email      8040 non-null   object
 3   action     8040 non-null   object
 4   timestamp  8040 non-null   object
 5   day        0 non-null      object
dtypes: int64(1), object(5)
memory usage: 377.0+ KB


#### Users who have "signedup"

In [95]:
query = """
SELECT username 
FROM user_actions
WHERE action='signup'
"""

cursor.execute(query)

# for data in cursor.fetchall():    
#    print(data)

pd.read_sql_query(query, conn).sort_values(by='username')

   username
2     user1
18   user10
20   user11
22   user12
15   user13
26   user14
4    user15
11   user16
12   user17
6    user18
16   user19
33    user2
5    user20
24   user21
30   user22
19   user23
3    user24
7    user25
29   user26
10   user27
1    user28
23   user29
8     user3
27   user30
17   user31
34   user32
21   user33
0    user34
32   user35
13    user4
31    user5
25    user6
28    user7
14    user8
9     user9


#### Total number of log entries for each user

In [96]:
query = """
SELECT user_id, username, count(*) 
FROM user_actions
WHERE action='login'
GROUP BY username
"""

cursor.execute(query)

# for data in cursor.fetchall():  
#     print(data)

pd.read_sql_query(query, conn).sort_values(by='username')

    user_id username  count(*)
0         1    user1        97
1        10   user10       163
2        11   user11       319
3        12   user12       202
4        13   user13       464
5        14   user14       311
6        15   user15        30
7        16   user16       370
8        17   user17       356
9        18   user18       116
10       19   user19        48
11        2    user2       139
12       20   user20       353
13       21   user21       318
14       22   user22       264
15       23   user23       301
16       24   user24       152
17       25   user25       131
18       26   user26       213
19       27   user27       201
20       28   user28        81
21       29   user29        42
22        3    user3       101
23       30   user30       160
24       31   user31       381
25       32   user32        22
26       33   user33        23
27       34   user34       175
28       35   user35       384
29        4    user4       425
30        5    user5       182
31        6    user6       448
32        7    user7       358
33        8    user8       318
34        9    user9       109


#### Users who have logged in and signed up on the same day


###### This task is possible to solve using subselect or views. Time was running out, so the rest of the code for this task may be disregarded.

Create new column, 'day', from 'timestamp'.

In [97]:
query = """
SELECT *
FROM user_actions
"""

cursor.execute(query)

# for data in cursor.fetchall():
for data in cursor.fetchone():    
    print(data)

34
user34
user34@email.com
signup
2015-02-04 14:38:47
None

In [147]:
query = """
CREATE VIEW login_view 
 (user_id, login_username, login_day)  
AS SELECT user_id, username, date(timestamp)
FROM user_actions
WHERE action='login' 
GROUP BY username, date(timestamp);
"""
cursor.execute(query)

#for data in cursor.fetchone():
# for data in cursor.fetchone():    
#    print(data)
# pd.read_sql_query(query, conn)
#pd.read_sql_query(query, conn).sort_values(by='username')

In [148]:
query = """
CREATE VIEW signup_view 
  (user_id, signup_username, signup_day) 
AS SELECT user_id, username, date(timestamp)
FROM user_actions
WHERE action='signup' 
GROUP BY username, date(timestamp);
"""
cursor.execute(query)

# for data in cursor.fetchone():
# for data in cursor.fetchone():    
#    print(data)
# pd.read_sql_query(query, conn)
# pd.read_sql_query(query, conn).sort_values(by='username')

In [151]:
query = """
SELECT *
FROM signup_view, login_view
WHERE signup_username = login_username
      AND signup_day = login_day
GROUP BY login_username
"""
cursor.execute(query)
# for data in cursor.fetchone():
# for data in cursor.fetchone():    
#    print(data)
# pd.read_sql_query(query, conn)
pd.read_sql_query(query, conn).sort_values(by='signup_day')

   user_id signup_username  signup_day  user_id login_username   login_day
7        8           user8  2018-04-15        8          user8  2018-04-15
0       12          user12  2020-05-07       12         user12  2020-05-07
3       30          user30  2021-11-15       30         user30  2021-11-15
6        7           user7  2021-12-19        7          user7  2021-12-19
2       22          user22  2022-07-27       22         user22  2022-07-27
5        5           user5  2022-08-19        5          user5  2022-08-19
1        2           user2  2022-11-05        2          user2  2022-11-05
4       32          user32  2022-11-28       32         user32  2022-11-28

In [152]:
query = """
DROP VIEW login_view
"""
cursor.execute(query)
#AND login_view.date(timestamp) = signup_view.date(timestamp) 
# WHERE login_view.username = signup_view.username 
# GROUP BY username
#for data in cursor.fetchone():
# for data in cursor.fetchone():    
#   print(data)
# pd.read_sql_query(query, conn)
# pd.read_sql_query(query, conn).sort_values(by='username')

In [153]:
query = """
DROP VIEW signup_view
"""
cursor.execute(query)

In [141]:
query = """
SELECT user_id, username, action, date(timestamp)
FROM user_actions
WHERE username='user1' AND (action='login' OR action='signup')
GROUP BY date(timestamp)
"""
cursor.execute(query)

# for data in cursor.fetchall():
# for data in cursor.fetchone():    
#    print(data)
# pd.read_sql_query(query, conn)
# pd.read_sql_query(query, conn).sort_values(by='username')

In [142]:
query = """
SELECT user_id, username, day
FROM user_actions
WHERE action='login' OR action='signup'
GROUP BY day
"""

# cursor.execute(query)

# for data in cursor.fetchone():
# for data in cursor.fetchone():    
#     print(data)
# pd.read_sql_query(query, conn)
# pd.read_sql_query(query, conn).sort_values(by='username')


## Regex


#### Read data from file

In [ ]:
first_part = r"^\d{1,3}\."

In [ ]:
comments_pd = pd.read_table('comments.txt', sep=first_part, names=['id', 'comment'], engine='python')

In [ ]:
comments_pd['comment'].head()

In [ ]:
comments_pd.info()

In [ ]:
comments_pd.head()

In [ ]:
comments_pd.dtypes


##### Drop the 'id' column and convert the comments to strings

This will create a Series of strings.

In [ ]:
string_comments = comments_pd['comment'].astype({'comment' : 'string'}, copy=True)

In [ ]:
string_comments.info()

In [ ]:
string_comments.head(6)

In [ ]:
string_comments.tail()

In [ ]:
string_comments[99]

In [ ]:
string_comments[97]

In [ ]:
string_comments[1]


#### Solve tasks


##### All hashtags

In [ ]:
pattern_all_hashtags = r"[#]{1}[\w]+"
pattern_all_hashtags

In [ ]:
tag_comment_1 = re.findall(pattern_all_hashtags, string_comments[1])
print(tag_comment_1)

In [ ]:
tag_comment_0 = re.findall(pattern_all_hashtags, string_comments[0])
print(tag_comment_0)


##### Both #programming and #python

In [ ]:
pattern_both_test = r"[#programming]+ och [#python]+"
pattern_both_test

In [ ]:
pattern_both = r"[#p]{1}[\w]+[o]{1}[\w]*[n]{1}[\w]*"
pattern_both

In [ ]:
both_tag_comment_0 = re.findall(pattern_both, string_comments[0])
print(both_tag_comment_0)

In [ ]:
both_tag_comment_1 = re.findall(pattern_both, string_comments[1])
print(both_tag_comment_1)

In [ ]:
both_tag_comment_5 = re.findall(pattern_both, string_comments[5])
print(both_tag_comment_5)

We see that this patterna finds both #programming och #python, if they exist in a comment. It also finds some other tags, e.g. #coding, but it was not a requirement that no other tags should be found.


##### All unique hash tags

In [ ]:
all_tags = []
for i in range(99):
    all_tags.append(re.findall(pattern_all_hashtags, string_comments[i]))

In [ ]:
all_tags

In [ ]:
type(all_tags)

In [ ]:
len(all_tags)

This is a list of lists. In python it is possible to transform it to a set, where all duplicates will disappear. As it is required to do everything with regex, I will not continue.


##### Frn kurs_demo

In [ ]:
string = "Please contact support@example.com for assistance. For general inquiries, you can email info@company.com and @gmail.com"
print(string)

In [ ]:
pattern = r"\b[\w._%+-]+@[\w.-]+\.[A-Za-z]{2,4}\b"
r"\b[\w._%+-]+@[\w.-]+\.[A-Za-z]{2,4}\b"

In [ ]:
emails = re.findall(pattern, string)
print(emails)