
# Homework 4

Some initializations

In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sql


## Joining data


## SQL

Connect to the database and look at the data

In [2]:
# conn = sql.connect("./user_actions.sqlite3")
conn = sql.connect("./user_actions.db")
cursor = conn.cursor()

In [3]:
tables = list(cursor.execute("SELECT name FROM sqlite_master WHERE type='table';"))
tables

[('user_actions',)]

In [4]:
# SELECT

query = """
SELECT * 
FROM user_actions
"""

cursor.execute(query)

# for data in cursor.fetchall():
for data in cursor.fetchone():    
    print(data)
user_action_pd = pd.read_sql_query(query, conn)

34
user34
user34@email.com
signup
2015-02-04 14:38:47
None

In [5]:
user_action_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8040 entries, 0 to 8039
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    8040 non-null   int64
 1   username   8040 non-null   object
 2   email      8040 non-null   object
 3   action     8040 non-null   object
 4   timestamp  8040 non-null   object
 5   day        0 non-null      object
dtypes: int64(1), object(5)
memory usage: 377.0+ KB


#### Users who have "signedup"

In [6]:
query = """
SELECT username 
FROM user_actions
WHERE action='signup'
"""

cursor.execute(query)

for data in cursor.fetchall():
# for data in cursor.fetchone():    
    print(data)
# pd.read_sql_query(query, conn)
pd.read_sql_query(query, conn).sort_values(by='username')

('user34',)
('user28',)
('user1',)
('user24',)
('user15',)
('user20',)
('user18',)
('user25',)
('user3',)
('user9',)
('user27',)
('user16',)
('user17',)
('user4',)
('user8',)
('user13',)
('user19',)
('user31',)
('user10',)
('user23',)
('user11',)
('user33',)
('user12',)
('user29',)
('user21',)
('user6',)
('user14',)
('user30',)
('user7',)
('user26',)
('user22',)
('user5',)
('user35',)
('user2',)
('user32',)

   username
2     user1
18   user10
20   user11
22   user12
15   user13
26   user14
4    user15
11   user16
12   user17
6    user18
16   user19
33    user2
5    user20
24   user21
30   user22
19   user23
3    user24
7    user25
29   user26
10   user27
1    user28
23   user29
8     user3
27   user30
17   user31
34   user32
21   user33
0    user34
32   user35
13    user4
31    user5
25    user6
28    user7
14    user8
9     user9


#### Total number of log entries for each user

In [7]:
query = """
SELECT user_id, username, count(*) 
FROM user_actions
WHERE action='login'
GROUP BY username
"""

cursor.execute(query)

for data in cursor.fetchall():
# for data in cursor.fetchone():    
    print(data)
# pd.read_sql_query(query, conn)
pd.read_sql_query(query, conn).sort_values(by='username')

(1, 'user1', 97)
(10, 'user10', 163)
(11, 'user11', 319)
(12, 'user12', 202)
(13, 'user13', 464)
(14, 'user14', 311)
(15, 'user15', 30)
(16, 'user16', 370)
(17, 'user17', 356)
(18, 'user18', 116)
(19, 'user19', 48)
(2, 'user2', 139)
(20, 'user20', 353)
(21, 'user21', 318)
(22, 'user22', 264)
(23, 'user23', 301)
(24, 'user24', 152)
(25, 'user25', 131)
(26, 'user26', 213)
(27, 'user27', 201)
(28, 'user28', 81)
(29, 'user29', 42)
(3, 'user3', 101)
(30, 'user30', 160)
(31, 'user31', 381)
(32, 'user32', 22)
(33, 'user33', 23)
(34, 'user34', 175)
(35, 'user35', 384)
(4, 'user4', 425)
(5, 'user5', 182)
(6, 'user6', 448)
(7, 'user7', 358)
(8, 'user8', 318)
(9, 'user9', 109)

    user_id username  count(*)
0         1    user1        97
1        10   user10       163
2        11   user11       319
3        12   user12       202
4        13   user13       464
5        14   user14       311
6        15   user15        30
7        16   user16       370
8        17   user17       356
9        18   user18       116
10       19   user19        48
11        2    user2       139
12       20   user20       353
13       21   user21       318
14       22   user22       264
15       23   user23       301
16       24   user24       152
17       25   user25       131
18       26   user26       213
19       27   user27       201
20       28   user28        81
21       29   user29        42
22        3    user3       101
23       30   user30       160
24       31   user31       381
25       32   user32        22
26       33   user33        23
27       34   user34       175
28       35   user35       384
29        4    user4       425
30        5    user5       182
31        6    user6       448
32        7    user7       358
33        8    user8       318
34        9    user9       109


#### Users who have logged in and signed up on the same day

Create new column, 'day', from 'timestamp'.

In [8]:
day_column = 'day'
table_name = 'user_actions'
# cursor.execute("ALTER TABLE {tn} ADD COLUMN '{cn}'"\
#         .format(tn=table_name, cn=day_column))

In [9]:
query = """
SELECT *
FROM user_actions
"""

cursor.execute(query)

# for data in cursor.fetchall():
for data in cursor.fetchone():    
    print(data)

34
user34
user34@email.com
signup
2015-02-04 14:38:47
None

In [10]:
query = """
SELECT user_id, username, timestamp
FROM user_actions
WHERE action='login' OR action='signup'
GROUP BY timestamp[0:9]
"""

query = """
SELECT user_id, username, timestamp
FROM user_actions
WHERE action='login' OR action='signup'
GROUP BY timestamp
"""
cursor.execute(query)

for data in cursor.fetchone():
# for data in cursor.fetchone():    
    print(data)
# pd.read_sql_query(query, conn)
pd.read_sql_query(query, conn).sort_values(by='username')

34
user34
2015-02-04 14:38:47

      user_id username            timestamp
6534        1    user1  2022-11-27 16:54:46
6757        1    user1  2022-12-05 15:49:27
6847        1    user1  2022-12-07 15:47:57
6725        1    user1  2022-12-04 16:25:00
6452        1    user1  2022-11-22 15:09:12
...       ...      ...                  ...
5444        9    user9  2022-09-02 15:32:20
3462        9    user9  2021-09-22 10:30:18
1446        9    user9  2019-10-07 16:18:43
1860        9    user9  2020-04-19 14:43:33
2482        9    user9  2020-12-21 10:18:45

[7791 rows x 3 columns]

In [11]:
query = """
SELECT user_id, username, day
FROM user_actions
WHERE action='login' OR action='signup'
GROUP BY day
"""

cursor.execute(query)

for data in cursor.fetchone():
# for data in cursor.fetchone():    
    print(data)
# pd.read_sql_query(query, conn)
pd.read_sql_query(query, conn).sort_values(by='username')

34
user34
None

   user_id username   day
0       34   user34  None


## Regex


#### Read data from file

In [12]:
# first_part = r"[0-9]{1,2}\."

In [13]:
first_part = r"^\d{1,3}\."

In [14]:
comments_pd = pd.read_table('comments.txt', sep=first_part, names=['id', 'comment'], engine='python')

In [15]:
comments_pd['comment'].head()

0            "Great post! #programming #tips"
1      "Enjoyed the article. #coding #python"
2         "Interesting insights. #tech #data"
3     "This is awesome! #programming #coding"
4       "Thanks for sharing. #data #analysis"
Name: comment, dtype: object

In [16]:
comments_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       0 non-null      float64
 1   comment  100 non-null    object
dtypes: float64(1), object(1)
memory usage: 1.7+ KB

In [17]:
comments_pd.head()

   id                                   comment
0 NaN          "Great post! #programming #tips"
1 NaN    "Enjoyed the article. #coding #python"
2 NaN       "Interesting insights. #tech #data"
3 NaN   "This is awesome! #programming #coding"
4 NaN     "Thanks for sharing. #data #analysis"

In [18]:
comments_pd.dtypes

id         float64
comment     object
dtype: object


##### Drop the 'id' column and convert the comments to strings

This will create a Series of strings.

In [19]:
string_comments = comments_pd['comment'].astype({'comment' : 'string'}, copy=True)

In [20]:
string_comments.info()

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: comment
Non-Null Count  Dtype
--------------  -----
100 non-null    string
dtypes: string(1)
memory usage: 932.0 bytes

In [21]:
string_comments.head(6)

0                  "Great post! #programming #tips"
1            "Enjoyed the article. #coding #python"
2               "Interesting insights. #tech #data"
3           "This is awesome! #programming #coding"
4             "Thanks for sharing. #data #analysis"
5     "I learned a lot. #programming #python #tips"
Name: comment, dtype: string

In [22]:
string_comments.tail()

95      "Innovations in tech and AI. #tech #innovation"
96     "Effective coding patterns. #programming #cod...
97     "Data visualization best practices. #data #an...
98         "Optimizing Python code. #programming #tips"
99     "Coding challenges for skill development. #co...
Name: comment, dtype: string

In [23]:
string_comments[99]

' "Coding challenges for skill development. #coding #python"'

In [24]:
string_comments[97]

' "Data visualization best practices. #data #analytics"'

In [25]:
string_comments[1]

' "Enjoyed the article. #coding #python"'


#### Solve tasks


##### All hashtags

In [26]:
# pattern_all_hashtags_1 = r"g\b#{1}[\d\w]+\b"
# pattern_all_hashtags_1

In [27]:
# pattern_all_hashtags_2 = r"\b#{1}[\d\w]+"
# pattern_all_hashtags_2

In [28]:
# pattern_all_hashtags_3 = r"\b\#[\w]+"
# pattern_all_hashtags_3

In [29]:
# pattern_all_hashtags_4 = r"\b#"
# pattern_all_hashtags_4

In [30]:
# pattern_all_hashtags_5 = r"\bE+[\w]+"
# pattern_all_hashtags_5

In [31]:
# pattern_all_hashtags_6 = r"\b[\x23]{1}"
# pattern_all_hashtags_6

In [32]:
# pattern_all_hashtags_7 = r"[\x23]{1}[\w]+"
# pattern_all_hashtags_7

In [33]:
pattern_all_hashtags = r"[#]{1}[\w]+"
pattern_all_hashtags

'[#]{1}[\\w]+'

In [34]:
tag_comment_1 = re.findall(pattern_all_hashtags, string_comments[1])
print(tag_comment_1)

['#coding', '#python']

In [35]:
tag_comment_0 = re.findall(pattern_all_hashtags, string_comments[0])
print(tag_comment_0)

['#programming', '#tips']


##### Both #programming and #python

In [36]:
pattern_both_test = r"[#programming]+ och [#python]+"
pattern_both_test

'[#programming]+ och [#python]+'

In [37]:
pattern_both = r"[#p]{1}[\w]+[o]{1}[\w]*[n]{1}[\w]*"
pattern_both

'[#p]{1}[\\w]+[o]{1}[\\w]*[n]{1}[\\w]*'

In [38]:
both_tag_comment_0 = re.findall(pattern_both, string_comments[0])
print(both_tag_comment_0)

['#programming']

In [39]:
both_tag_comment_1 = re.findall(pattern_both, string_comments[1])
print(both_tag_comment_1)

['#coding', '#python']

In [40]:
both_tag_comment_5 = re.findall(pattern_both, string_comments[5])
print(both_tag_comment_5)

['#programming', '#python']

We see that this patterna finds both #programming och #python, if they exist in a comment. It also finds some other tags, e.g. #coding, but it was not a requirement that no other tags should be found.


##### All unique hash tags

In [41]:
all_tags = []
for i in range(99):
    all_tags.append(re.findall(pattern_all_hashtags, string_comments[i]))

In [42]:
all_tags

[['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#data'],
 ['#programming', '#coding'],
 ['#data', '#analysis'],
 ['#programming', '#python', '#tips'],
 ['#tech', '#innovation'],
 ['#coding', '#python'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#data'],
 ['#programming', '#coding'],
 ['#data', '#insights'],
 ['#programming', '#python', '#tips'],
 ['#tech', '#research'],
 ['#coding', '#python'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#innovation'],
 ['#programming', '#python', '#tips'],
 ['#tech', '#data'],
 ['#coding', '#python'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#python', '#tips'],
 ['#coding', '#innovation'],
 ['#tech', '#data'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#data', '#analysis'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#data', '#analysis'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#tips'],
 ['#coding', '#python'],
 ['#tech', '#innovation'],
 ['#programming', '#coding'],
 ['#data', '#analytics'],
 ['#programming', '#tips']]

In [43]:
type(all_tags)

list

In [44]:
len(all_tags)

99

Från kurs_demo

In [45]:
string = "Please contact support@example.com for assistance. For general inquiries, you can email info@company.com and @gmail.com"
print(string)

Please contact support@example.com for assistance. For general inquiries, you can email info@company.com and @gmail.com

In [46]:
pattern = r"\b[\w._%+-]+@[\w.-]+\.[A-Za-z]{2,4}\b"
r"\b[\w._%+-]+@[\w.-]+\.[A-Za-z]{2,4}\b"

'\\b[\\w._%+-]+@[\\w.-]+\\.[A-Za-z]{2,4}\\b'

In [47]:
emails = re.findall(pattern, string)
print(emails)

['support@example.com', 'info@company.com']